#cart_content {
  margin: 40px auto;
  max-width: 940px;
  height: 520px;
  display: flex;
  .my_cart {
    display: flex;
    flex-direction: column;
    width: 65.95%;
    margin-right: 20px;
    > h4 {
      font-size: nth($font, 3);
      text-align: center;
      color: $darkGreen;
      background-color: $whiteGreen;
      padding: 18px 0;
      margin-bottom: 13px;
    }
    .cart_list {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid $whiteGreen;
      &:last-child {
        border-bottom: none;
      }
      > .cart_list_img {
        display: inline-block;
        background-position: center center;
        background-size: cover;
        width: 110px;
        height: 110px;
        margin-right: 40px;
      }
      > .cart_list_context {
        display: inline-block;
        color: $lightGreen;
        p {
          font-size: nth($font, 2);
          line-height: 200%;
        }
      }
      > .how_many {
        display: inline-block;
        margin-left: 40px;
        li {
          float: left;
          width: 48px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          color: $lightGreen;
          border: 1px solid $whiteGreen;
          > input[type="button"] {
            line-height: 46px;
            color: $lightGreen;
            width: 100%;
            height: 100%;
            border-color: #fff;
            &:focus {
              outline: $darkGreen;
              box-shadow: 0 0 5px $darkGreen;
            }
          }
        }
      }
      > .price {
        display: inline-block;
        margin-left: 40px;
        font-size: nth($font, 2);
        color: $darkGreen;
        font-weight: 500;
      }
      > .delete {
        margin-left: 40px;
        @include icon;
        background-color: $lightGreen;
        mask-image: url(../images/delete.svg);
      }
    }
  }
  .bill {
    width: 300px;
    height: 256px;
    background-color: $darkGreen;
    color: $whiteGreen;
    > h4 {
      text-align: center;
      font-size: nth($font, 3);
      font-weight: 300;
      margin: 20px auto;
    }
    .line {
      border-top: 1px solid $whiteGreen;
      margin: 0 20px;
    }
    > ul {
      margin: 20px 18px;
      li {
        margin-bottom: 10px;
        font-weight: lighter;
        > span {
          float: right;
          margin-right: 5px;
        }
      }
      .total_title {
        font-size: nth($font, 2);
        font-weight: 400;
        margin-top: 20px;
      }
    }
    .checkout {
      width: 300px;
      height: 65px;
      background-color: $yellow;
      color: $darkGreen;
      font-weight: bold;
      text-align: center;
      font-size: nth($font, 3);
    }
  }
}
