#checkout_content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  height: 580px;
  .shipping {
    width: 48.936%;
    height: 570px;
    margin-right: 20px;
    background-color: $darkGreen;
    h4 {
      display: inline-block;
      font-size: nth($font, 4);
      color: $whiteGreen;
      margin: 30px 40px;
      margin-right: 0;
      font-weight: 400;
    }
    .step_mark {
      display: inline-block;
      margin-left: 25%;
      height: 22px;
      vertical-align: text-bottom;
      .step_box {
        display: inline-block;
        position: relative;
        input[type="radio"] {
          position: relative;
          z-index: 1;
          opacity: 0;
          + .step::after {
            content: none;
          }
        }
        input[checked] + .step::after {
          content: "";
        }
        #step3 {
          margin-right: 40px;
        }
        .step {
          position: absolute;
          z-index: 10;
          top: 0;
          left: -3px;
          height: 20px;
          width: 20px;
          border: 1px solid $whiteGreen;
          border-radius: 50%;
          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 1px solid $whiteGreen;
            border-radius: 50%;
            top: -1px;
            left: -1px;
            opacity: 0.5;
          }
          //圓心
          &::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: $whiteGreen;
          }
        }
        .finish {
          position: absolute;
          z-index: 10;
          top: 0;
          left: -3px;
          height: 20px;
          width: 20px;
          border: 1px solid $whiteGreen;
          border-radius: 50%;
          background-color: $whiteGreen;
          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 1px solid $whiteGreen;
            border-radius: 50%;
            top: -1px;
            left: -1px;
            opacity: 0.5;
          }
          //打勾
          &::after {
            position: absolute;
            content: "";
            z-index: 30;
            display: inline-block;
            height: 8px;
            width: 13px;
            left: 2px;
            top: 3px;
            border-left: 2px solid $darkGreen;
            border-bottom: 2px solid $darkGreen;
            transform: rotate(-45deg);
          }
        }
      }
      > span {
        display: inline-block;
        width: 65px;
        vertical-align: middle;
        border-top: 1px solid $whiteGreen;
        opacity: 0.5;
      }
    }
    .personal_information {
      @include checkout_style;
      .name {
        label {
          display: inline-block;
          width: 186px;
          margin-bottom: 10px;
        }
        input {
          width: 186px;
        }
        #firstName {
          margin-right: 3px;
        }
      }
      .full_address {
        margin-bottom: 20px;
        select {
          width: 186px;
          margin-bottom: 8px;
          appearance: none;
          border-radius: 0;
          background-color: $whiteGreen;
          background-image: url(../images/arrow_down.svg);
          background-position: 90% 50%;
          background-repeat: no-repeat;
          background-attachment: scroll;
        }
        #country {
          margin-right: 3px;
        }
      }
    }
    .next {
      width: 100%;
      height: 65px;
      background-color: $yellow;
      color: $darkGreen;
      font-size: nth($font, 3);
      font-weight: 600;
    }
  }
  //付款
  .payment {
    .credit_card {
      @include checkout_style;
    }
  }

  .order {
    display: flex;
    flex-direction: column;

    .order_list,
    .checkout_bill {
      background-color: #fff;
      border: 1px solid $whiteGreen;
      display: inline-block;
      height: 195px;
      h4 {
        background-color: $whiteGreen;
        color: $lightGreen;
        font-weight: 400;
        margin: 0 auto;
        padding: 16px 0;
      }
      li {
        color: $lightGreen;
      }
    }
    .order_list {
      height: 370px;
      margin-top: 20px;
      .cart_list {
        display: inline-flex;
        align-items: center;
        width: 262px;
        height: 80px;
        margin-bottom: 16px;
        .cart_list_img {
          display: inline-block;
          width: 120px;
          height: 80px;
          background-size: cover;
          background-position: center center;
          margin-right: 20px;
        }
        .cart_list_context {
          display: inline-block;
          vertical-align: middle;
          p {
            display: inline-block;
            width: 125px;
          }
          .price {
            font-size: nth($font, 2);
            font-weight: normal;
            line-height: 28px;
          }
        }
      }
    }
  }
}
