#checkout_content {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
  height: auto;
  @media (max-width: 768px) {
    height: auto;
  }
  @media (max-width: 425px) {
    margin-bottom: 0px;
  }
  .shipping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 48.936%;
    height: 98%;
    margin-right: 20px;
    background-color: $darkGreen;
    .title {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: center;
      h4 {
        display: inline-flex;
        font-size: nth($font, 4);
        color: $whiteGreen;
        margin: 30px 40px;
        margin-right: 0;
        font-weight: 400;
      }
      .step_mark {
        width: 190px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 22px;
        vertical-align: text-bottom;
        margin-right: 8.69%;
        margin-left: auto;
        .step_box {
          display: inline-block;
          position: relative;
          input[type="radio"] {
            position: relative;
            z-index: 0;
            opacity: 0;
            + .step::after {
              content: none;
            }
          }
          input[checked] + .step::after {
            content: "";
          }
          #step3 {
            margin-right: 8.7%;
          }
          .step {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 10;
            top: -2px;
            left: -4px;
            height: 20px;
            width: 20px;
            border: 1px solid $whiteGreen;
            border-radius: 50%;
            //圓心
            &::after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $whiteGreen;
            }
          }
          .finish {
            position: absolute;
            z-index: 10;
            top: -1px;
            left: -3px;
            height: 20px;
            width: 20px;
            border: 1px solid $whiteGreen;
            border-radius: 50%;
            background-color: $whiteGreen;
            //打勾
            &::after {
              position: absolute;
              content: "";
              z-index: 30;
              display: inline-block;
              height: 8px;
              width: 13px;
              left: 2px;
              top: 3px;
              border-left: 2px solid $darkGreen;
              border-bottom: 2px solid $darkGreen;
              transform: rotate(-45deg);
            }
          }
        }
        > span {
          display: inline-block;
          width: 34.2%;
          vertical-align: middle;
          border-top: 2px solid $whiteGreen;
          opacity: 0.5;
        }
      }
    }

    .personal_information {
      @include checkout_style;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      .name {
        label {
          display: inline-flex;
          flex-wrap: nowrap;
          width: 49%;
          margin-bottom: 15px;
        }
        input {
          display: inline-flex;
          flex-wrap: nowrap;
          width: 48%;
        }
        #firstName {
          margin-right: 0.5%;
        }
      }
      .full_address {
        margin-bottom: 20px;
        flex-wrap: nowrap;
        select {
          display: inline-flex;
          width: 49%;
          margin-bottom: 10px;
          appearance: none;
          @include addSelectImg;
        }
        #country {
          margin-right: 0.5%;
        }
      }
    }
    a {
      text-decoration: none;
      .next {
        text-align: center;
        width: 100%;
        height: 65px;
        background-color: $yellow;
        color: $darkGreen;
        font-size: nth($font, 3);
        font-weight: 600;
        border: none;
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      width: 95%;
      margin: 0 auto;
      .step_mark {
        margin-left: 30%;
      }
      .personal_information {
        .name {
          label {
            width: 49%;
          }
          input {
            width: 49%;
          }
        }
        .full_address {
          select {
            width: 49%;
          }
        }
      }
    }
    @media (max-width: 425px) {
      width: 100%;
      .personal_information {
        .name {
          label {
            width: 49%;
          }
          input {
            width: 49%;
          }
        }
        .full_address {
          select {
            width: 49%;
          }
        }
      }
    }
  }
  //付款
  .payment {
    h4 {
      margin: 35px 40px;
      margin-right: 0;
    }
    .credit_card {
      @include checkout_style;
      #credit_num {
        width: 100%;
        @include addSelectImg;
        background-image: url(../images/payment.svg);
        background-position: 95% 50%;
      }
      input {
        width: 49%;
      }
      select {
        width: 49%;
        margin-bottom: 8px;
        appearance: none;
        @include addSelectImg;
      }
    }
  }
  // 發票
  .receipt {
    h4 {
      margin: 35px 40px;
      margin-right: 0;
    }
    .receipt_btn {
      width: 82.6%;
      margin: 0 auto;
      margin-bottom: 30px;
      input[type="button"] {
        width: 50%;
        height: 56px;
        background-color: $darkGreen;
        color: $whiteGreen;
        border: 1px solid $whiteGreen;
        font-size: nth($font, 2);
        &:focus {
          outline: none;
          box-shadow: 0 0 2px $whiteGreen;
        }
      }
      input[checked] {
        background-color: $whiteGreen;
        color: $darkGreen;
      }
    }
  }
  .receipt_cui {
    height: 100%;
    .CUI {
      @include checkout_style;
      margin-bottom: 10px;
    }
  }
  .receipt_mail {
    height: 100%;
    .for_mail {
      @include checkout_style;
      margin-bottom: 5px;
      .full_address {
        margin-bottom: 10px;
        select {
          width: 49%;
          margin-bottom: 8px;
          appearance: none;
          @include addSelectImg;
        }
        #country {
          margin-right: 0.5%;
        }
      }
    }
  }

  .order {
    display: flex;
    flex-direction: column;
    .checkout_bill {
      width: 100%;
      height: 100%;
      > h4 {
        text-align: center;
        font-size: nth($font, 3);
        font-weight: 300;
        margin: 20px auto;
      }
      > ul {
        margin: 20px 18px;
        li {
          margin-bottom: 10px;
          font-weight: lighter;
          > span {
            float: right;
            margin-right: 5px;
          }
        }
        .total_title {
          font-size: nth($font, 2);
          font-weight: 400;
          margin-top: 20px;
        }
      }
    }
    .order_list,
    .checkout_bill {
      background-color: #fff;
      border: 1px solid $whiteGreen;
      display: inline-block;
      height: 195px;
      h4 {
        background-color: $whiteGreen;
        color: $lightGreen;
        font-weight: 400;
        margin: 0 auto;
        padding: 16px 0;
      }
      li {
        color: $lightGreen;
      }
    }

    .order_list {
      height: 370px;
      margin-top: 20px;
      .cart_list {
        display: inline-flex;
        align-items: center;
        width: 262px;
        height: 80px;
        margin-bottom: 16px;
        .cart_list_img {
          display: inline-block;
          width: 120px;
          height: 80px;
          background-size: cover;
          background-position: center center;
          margin-right: 20px;
        }
        .cart_list_context {
          display: inline-block;
          vertical-align: middle;
          p {
            display: inline-block;
            width: 125px;
          }
          .price {
            font-size: nth($font, 2);
            font-weight: normal;
            line-height: 28px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      .checkout_bill {
        width: 45%;
        margin-left: auto;
        > h4 {
          margin: 0;
        }
        > ul {
          margin: 20px 18px;
          li {
            margin-bottom: 10px;
            font-weight: lighter;
            > span {
              float: right;
              margin-right: 5px;
            }
          }
          .total_title {
            font-size: nth($font, 2);
            font-weight: 400;
            margin-top: 20px;
          }
        }
      }
      .order_list {
        width: 50%;
        height: auto;
        margin: 0;
        margin-right: auto;
        .cart_list {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          margin-bottom: 16px;
          .cart_list_img {
            display: inline-flex;
            height: 80px;
            background-position: center;
          }
          .cart_list_context {
            display: inline-block;
            p {
              display: inline-block;
              width: 125px;
            }
            .price {
              font-size: nth($font, 2);
              font-weight: normal;
              line-height: 28px;
            }
          }
        }
      }
    }
    @media (max-width: 425px) {
      display: none;
    }
  }
}

//成功頁
#success_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 94.79%;
  height: 460px;
  margin: 0 auto;
  background-image: url(../images/brooke-lark-385507-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  .success {
    width: 100%;
    margin: 0 auto;
    .step_mark_done {
      width: 200px;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 22px;
      .step_box {
        display: inline-block;
        position: relative;
        input[type="radio"] {
          position: relative;
          z-index: 1;
          opacity: 0;
          + .step::after {
            content: none;
          }
        }
        .step {
          position: absolute;
          z-index: 10;
          top: 0;
          left: -3px;
          height: 20px;
          width: 20px;
          border: 1px solid $darkGreen;
          border-radius: 50%;
          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 1px solid $darkGreen;
            border-radius: 50%;
            top: -1px;
            left: -1px;
            opacity: 0.5;
          }
          //圓心
          &::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: $darkGreen;
          }
        }
        .finish {
          position: absolute;
          z-index: 10;
          top: 0;
          left: -3px;
          height: 20px;
          width: 20px;
          border: 1px solid $darkGreen;
          border-radius: 50%;
          background-color: $darkGreen;
          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 1px solid $darkGreen;
            border-radius: 50%;
            top: -1px;
            left: -1px;
            opacity: 0.5;
          }
          //打勾
          &::after {
            position: absolute;
            content: "";
            z-index: 30;
            display: inline-block;
            height: 8px;
            width: 13px;
            left: 2px;
            top: 3px;
            border-left: 2px solid $whiteGreen;
            border-bottom: 2px solid $whiteGreen;
            transform: rotate(-45deg);
          }
        }
      }
      > span {
        display: inline-block;
        width: 34.2%;
        vertical-align: middle;
        border-top: 1px solid $darkGreen;
        opacity: 0.5;
      }
    }
    .succes_img {
      width: 190px;
      height: 46px;
      background-image: url(../images/lg-付款成功.svg);
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
  a {
    text-decoration: none;
    .go_home {
      display: flex;
      margin: 0 auto;
      width: 300px;
      text-align: center;
      cursor: pointer;
      height: 65px;
      border: none;
      background-color: $yellow;
      color: $darkGreen;
      font-size: nth($font, 3);
      font-weight: 600;

      &:focus {
        outline: none;
        box-shadow: 0 0 2px $darkGreen;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
  @media (max-width: 425px) {
    position: relative;
    background-size: cover;
    background-position: 50% 100%;
    margin-bottom: 60px;
    a {
      width: 100%;
      align-self: flex-end;
      .go_home {
        position: absolute;
        bottom: -60px;
        width: 100%;
        margin: 0;
      }
    }
  }
}

// > #CUI:target {
//   ~ .tag_change {
//     .receipt_btn {
//       a[href="#CUI"] {
//         > input {
//           &:focus {
//             background-color: $whiteGreen;
//             color: $darkGreen;
//           }
//         }
//       }
//     }
//     > div.for_mail {
//       visibility: hidden;
//       height: 0;
//     }
//   }
// }
// #for_mail:target {
//   ~ .tag_change {
//     ~ .receipt_btn {
//       a[href="#for_mail"] {
//         > input {
//           &:focus {
//             background-color: $whiteGreen;
//             color: $darkGreen;
//           }
//         }
//       }
//     }
//     > div.CUI {
//       visibility: hidden;
//       height: 0;
//     }
//   }
// }
