.home-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
}
.banner-card {
  position: relative;
  width: 100%;
  height: 256px;
  margin-bottom: -10%;
  ul {
    max-width: 800px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    position: absolute;
    font-size: 0;
    bottom: 33%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    li {
      width: 33.3%;
      height: 32.9%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      .background-box {
        width: 100%;
        background: $darkGreenO;
        display: inline-block;
        a {
          line-height: 25px;
          display: inline-flex;
          justify-content: center;
          padding: 25% 45.5%;
          color: $white;
          font-size: nth($font, 3);
          letter-spacing: 8px;
          font-weight: 100;
          writing-mode: vertical-lr;
          text-decoration: none;
          @media screen and (max-width: 425px) {
            font-size: nth($font, 2);
          }
        }
      }
      .background-box:hover {
        background-color: $yellowO;
        cursor: pointer;
        a {
          color: $darkGreen;
          font-weight: bold;
        }
      }
    }
    .today-choose::before {
      @include blur;
      background-image: url(../images/brooke-lark-230642-unsplash.jpg);
    }
    .popular::before {
      @include blur;
      background-image: url(../images/whitney-wright-356670-unsplash.jpg);
    }
    .new-product::before {
      @include blur;
      background-image: url(../images/food-photographer-jennifer-pallian-306919-unsplash.jpg);
    }
    .popular {
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  @media screen and (max-width: 769px) {
    margin-bottom: 0%;
    height: 0;
    padding: 15% 0;
    ul {
      bottom: 1%;
      left: 0%;
      right: 0%;
    }
  }
  @media screen and (max-width: 425px) {
    margin-bottom: 0%;
    height: 0;
    padding: 20% 0;

    ul {
      bottom: -7%;
    }
  }
}
#content {
  ul {
    margin-top: 60px;
    li {
      margin-top: 105px;
      .context {
        position: relative;
        height: 420px;
        background-color: $whiteGreen;
        .text-right {
          .image-left {
            @include image;
            left: 0px;
            margin-right: 3.9%;
            margin-left: 4.1%;
            background-image: url(../images/le-buzz-576478-unsplash.jpg);
          }
          h2 {
            background-image: url(../images/lg-為什麼選擇了做甜點.svg);
            background-repeat: no-repeat;
            height: 307px;
            margin-right: 3.9%;
            position: absolute;
            top: -20px;
            right: 0px;
            width: 88px;
          }
          p {
            writing-mode: vertical-rl;
            position: absolute;
            right: 0px;
            line-height: 200%;
            margin: 70px 0;
            margin-right: 18.5%;
            color: $lightGreen;
            font-weight: lighter;
          }
        }
        .text-left {
          .image-right {
            @include image;
            right: 0px;
            margin-right: 4.1%;
            margin-left: 3.9%;
            background-image: url(../images/monika-grabkowska-325047-unsplash.jpg);
          }
          h2 {
            background-image: url(../images/lg-為什麼一定要吃甜點.svg);
            background-repeat: no-repeat;
            height: 307px;
            position: absolute;
            top: -25px;
            left: 38.1%;
            width: 88px;
          }
          p {
            writing-mode: vertical-rl;
            position: absolute;
            left: 0px;
            line-height: 200%;
            margin: 70px 0;
            margin-left: 5.4%;
            color: $lightGreen;
            font-weight: lighter;
          }
        }
      }
      .only-word {
        background-image: url(../images/lg-想吃甜點是不需要理由的.svg);
        background-repeat: no-repeat;
        height: 460px;
        width: 90px;
        margin: 0 auto;
        margin-bottom: -15%;
      }
      .product {
        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 30px 30px 60px 30px;
          li {
            display: inline-flex;
            flex-direction: column;
            margin: 0px 10px;
            margin-bottom: 30px;
            .product-box {
              position: relative;
              .product-box-img {
                width: 300px;
                height: 315px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
              }
              .today-box {
                position: absolute;
                left: 20px;
                background-color: $darkGreen;
                color: $white;
                padding: 10px;
                writing-mode: vertical-lr;
                letter-spacing: 5px;
                font-weight: 300;
              }
              .like {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 25px;
              }
            }
            .product-box-item {
              width: 300px;
              height: 56px;
              .product-box-dollar,
              .product-box-name {
                height: 56px;
                font-size: $m-size;
                float: left;
                color: $darkGreen;
                border: 1px solid $whiteGreen;
                line-height: 56px;
                text-align: center;
              }
              .product-box-name {
                width: 171px;
                border-right: none;
                font-weight: 300;
              }
              .product-box-dollar {
                width: 126px;
                font-weight: 500;
              }
            }
            .add-btn {
              clear: both;
              display: block;
              font-size: $l-size;
              color: $darkGreen;
              background-color: $whiteGreen;
              border: 1px solid $whiteGreen;
              border-top: none;
              font-weight: bold;
              padding: 16px 89px;
              cursor: pointer;
              @include btnFocus;
            }
          }
        }
      }
    }
    @media screen and (max-width: 769px) {
      li {
        .context {
          .text-left {
            .image-right {
              margin-right: 0%;
            }
            p {
              margin-left: 3.9%;
            }
          }
          .text-right {
            .image-left {
              margin-left: 0%;
            }
            p {
              margin-right: 16%;
            }
          }
        }
        .product {
          ul {
            margin: 0 7.5%;
            li {
            }
          }
        }
      }
    }
    @media screen and (max-width: 754px) {
      li {
        margin-top: 0px;
        .context {
          background-color: #fff;
          height: 100%;
          .text-left,
          .text-right {
            .image-left,
            .image-right {
              display: block;
              position: static;
              background-repeat: no-repeat;
              width: 100%;
              height: 0px;
              padding: 33.3% 0;
              margin: 0;
              background-size: cover;
              background-position: center center;
            }
            h2 {
              height: 0;
              padding: 12.5% 0;
              margin: 0% auto;
              position: static;
              width: 50%;
            }
            p {
              writing-mode: horizontal-tb;
              width: 91.8%;
              position: static;
              line-height: 200%;
              margin: 0 auto;
              padding: 30px 4.1%;
              color: $lightGreen;
              font-weight: lighter;
              background-color: $whiteGreen;
            }
          }
          .text-right {
            h2 {
              background-image: url(../images/sm-為什麼選擇了做甜點.svg);
            }
          }
          .text-left {
            h2 {
              background-image: url(../images/sm-為什麼一定要吃甜點.svg);
              margin-top: 12.5%;
            }
          }
        }
        .only-word {
          background-image: url(../images/sm-想吃甜點是不需要理由的.svg);
          height: 0;
          padding: 12.5% 0;
          margin: 0% auto;
          margin-top: 10%;
          position: static;
          width: 50%;
        }
        .product {
          ul {
            width: 100%;
            margin: 0;
            align-items: center;

            li {
            }
          }
        }
      }
    }
    @media screen and (max-width: 754px) {
      li {
        .product {
          ul {
            width: 100%;
            margin: 0;
            align-items: center;

            li {
              display: none;
              &:first-child {
                display: inline-flex;
              }
            }
          }
        }
      }
    }
  }
}
