#login_content {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  > .member_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: $loginBoxWidth;
    height: $loginBoxHeight;
    background-color: $darkGreen;
    > h2 {
      align-content: flex-start;
      font-size: nth($font, 4);
      margin: 43px 0;
      order: 0;
      text-align: center;
      color: $whiteGreen;
      font-weight: 400;
    }
    .member_link {
      display: none;
    }
    > .password_box,
    .account_box {
      margin: 0 auto;
      margin-bottom: 16px;
      width: $loginInputWidth;
      height: $loginInputHeight;
      background-color: $whiteGreen;
      > input {
        background-color: $whiteGreen;
        color: $darkGreen;
        outline: none;
        width: 260px;
        height: 56px;
        border: none;
        &::placeholder {
          color: $lightGreen;
          vertical-align: middle;
        }
      }
      .icon_key,
      .icon_person {
        margin: 0 20px;
        vertical-align: middle;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: $darkGreen;
      }
      //svg變色方式
      .icon_person {
        mask-image: url(../images/person.svg);
      }
      .icon_key {
        mask-image: url(../images/key.svg);
      }
    }
    > .remember {
      position: relative;
      margin-left: 30px;
      margin-bottom: 25px;
      > #remember_btn {
        display: none;
        //隱藏checkmark
        + label::after {
          content: none;
        }
        //顯示checkmark
        &:checked + label::after {
          content: "";
        }
        &:checked + label::before {
          background-color: $yellow;
          border: 1px solid $lightGreen;
          box-shadow: 0 0 2px $lightGreen;
        }
      }
      > .checkmark {
        position: relative;
        z-index: 0;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        width: 16px;
        height: 16px;
        background-color: $whiteGreen;
        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          height: 16px;
          width: 16px;
          border: 1px solid $darkGreen;
          top: 0px;
        }
        //製作checkmark
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          height: 6px;
          width: 9px;
          left: 4px;
          top: 4px;
          border-left: 2px solid $darkGreen;
          border-bottom: 2px solid $darkGreen;
          transform: rotate(-45deg);
        }
      }
      > .remember_word {
        color: $whiteGreen;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
    .login_btn {
      position: relative;
      z-index: 10;
      background-color: $yellow;
      color: $darkGreen;
      font-size: nth($font, 3);
      font-weight: bold;
      height: 65px;
      &:focus {
        outline: $darkGreen;
        box-shadow: 0 0 1px $darkGreen;
      }
    }
  }
  .link {
    display: flex;
    flex-direction: column;
    width: $loginBoxWidth;
    height: 350px;
    margin: auto 0;
    text-align: center;
    background-color: $whiteGreen;
    h3 {
      font-size: nth($font, 3);
      color: $lightGreen;
      font-weight: 300;
      margin: 42px auto;
    }
    .link_btn {
      a {
        display: inline;
      }
      input {
        width: $loginBtnWidth;
        height: $loginInputHeight;
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center center;
        margin-bottom: 16px;
        background-color: $white;
        &:focus {
          outline: $lightGreen;
          box-shadow: 0 0 5px $darkGreen;
        }
      }
      .facebook_link {
        background-size: 35%;
        background-image: url(../images/Facebook_Logo-green.svg);
        &:focus {
          background-image: url(../images/Facebook_Logo.svg);
        }
      }
      .google_link {
        background-image: url(../images/Google_green_logo.svg);
        &:focus {
          background-image: url(../images/Google_2015_logo.svg);
        }
      }
      .yahoo_link {
        background-image: url(../images/Yahoo_green.svg);
        &:focus {
          background-image: url(../images/Yahoo.svg);
        }
      }
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  @media screen and (max-width: 700px) {
    margin: 0;
    > .member_login {
      width: 100%;
      height: auto;
      .member_link {
        display: flex;
        width: 100%;
        height: auto;
        background-color: $whiteGreen;
        .link_btn {
          margin: 30px auto;
          a {
            display: inline;
          }
          input {
            display: flex;
            width: $loginBtnWidth;
            height: $loginInputHeight;
            background-repeat: no-repeat;
            background-size: 30%;
            background-position: center center;
            margin-bottom: 16px;
            background-color: $white;
            &:focus {
              outline: $lightGreen;
              box-shadow: 0 0 5px $darkGreen;
            }
          }
          .facebook_link {
            background-size: 35%;
            background-image: url(../images/Facebook_Logo-green.svg);
            &:focus {
              background-image: url(../images/Facebook_Logo.svg);
            }
          }
          .google_link {
            background-image: url(../images/Google_green_logo.svg);
            &:focus {
              background-image: url(../images/Google_2015_logo.svg);
            }
          }
          .yahoo_link {
            background-image: url(../images/Yahoo_green.svg);
            &:focus {
              background-image: url(../images/Yahoo.svg);
            }
          }
        }
      }
      .account_box {
        margin-top: 30px;
      }
    }
    .link {
      display: none;
    }
  }
  @media screen and (max-width: 425px) {
    > .member_login {
      width: 100%;
      height: auto;
      .member_link {
        .link_btn {
          input {
            display: inline-flex;
            width: 105px;
            height: 56px;
            background-size: 80%;
          }
          .facebook_link {
            background-size: 80%;
          }
        }
      }
      .account_box {
        margin-top: 30px;
      }
    }
  }
}
