@import "_reset.scss";
@import "_style.scss";
%background_cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html {
  @include font_family;
  height: 100%;
}
body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 375px) {
    min-width: 375px;
  }
}
header {
  width: 100%;
  .nav-bar {
    display: inline-flex;
    width: 91.79%;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 4.1%;
    @media screen and (max-width: 700px) {
      margin: 0;
      width: 100%;
    }
    //漢堡選單
    .hamburger-icon {
      position: relative;
      height: 24px;
      width: 24px;
      display: none;
      @media screen and (max-width: 600px) {
        margin-left: 30px;
        display: inline-flex;
      }
      .icon-box {
        display: inline-block;
        position: absolute;
        top: 12.5%;
        right: 0;
        bottom: 0;
        left: 0;
        height: 12.5px;

        .icon-bar {
          width: 18px;
          height: 2px;
          background-color: $darkGreen;
          display: block;
          margin: 2px auto 0px auto;
        }
      }
    }
    .logo {
      display: inline-flex;
      flex: 1;
      a {
        background-image: url(../images/logo-all-dark.svg);
        background-repeat: no-repeat;
        width: 220px;
        height: 40px;
        display: inline-block;
        white-space: nowrap;
        text-indent: 101%;
        overflow: hidden;
      }
      // a:hover,
      // a:active {
      //   background-image: url(../images/logo-light.svg);
      // }
      @media screen and (max-width: 700px) {
        display: flex;
        width: 100%;
        justify-content: center;
        h1 {
          margin: 0 auto;
        }
      }
      @media screen and (max-width: 425px) {
        h1 {
          a {
            background-image: url(../images/logotype-sm-dark.svg);
            width: 144px;
            height: 25px;
          }
        }
      }
    }
    .cart {
      display: inline-flex;
      margin-right: -30px;
      order: 10;
      a {
        padding: 30px;
        padding-top: 39px;
        .cart-icon {
          vertical-align: middle;
          width: 24px;
          height: 24px;
        }
      }
      @media screen and (max-width: 769px) {
        margin-right: 0px;
        a {
          padding: 30px;
        }
      }
      @media screen and (max-width: 600px) {
        order: 5;
        margin-right: 0px;
        a {
          padding: 30px;
        }
      }
    }
    .nav {
      display: inline-flex;
      order: 5;
      .nav-menu {
        display: inline-flex;
        align-items: flex-end;
        li {
          display: inline-flex;
          a {
            text-decoration: none;
            color: $darkGreen;
            font-weight: 500;
            padding: 30px 30px;
            &:hover,
            &:active {
              border-bottom: 5px solid $lightGreen;
            }
          }
        }
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        .nav-menu {
          display: flex;
          width: 100%;
          justify-content: center;
          text-align: center;
          li {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: nowrap;
            a {
              display: flex;
              font-size: $m-size;
              padding: 20px 40px;
            }
            a:hover,
            a:active {
              background-color: $whiteGreen;
            }
          }
        }
      }
      @media screen and (max-width: 425px) {
        flex-direction: column;
        width: 100%;
        .nav-menu {
          display: none;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          li {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: nowrap;
            a {
              width: 100%;
              justify-content: center;
              display: flex;
              font-size: $m-size;
              padding: 20px 40px;
            }
            a:hover,
            a:active {
              background-color: $whiteGreen;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
.banner {
  @extend %background_cover;
  width: 91.79%;
  height: 496px;
  margin: 0 auto;

  @media screen and (max-width: 769px) {
    width: 100%;
    height: 0px;
    padding: 30% 0;
    background-size: 100% 50%;
  }
  @media screen and (max-width: 425px) {
    padding: 40% 0;
    background-size: 50% 25%;
  }
}
.clearfix {
  clear: both;
}
#footer {
  height: 42%;
  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $darkGreen;
    img {
      display: inline-flex;
      width: 40px;
      margin: 38px 2% 38px 5%;
      &.logo_icon {
        height: 40px;
      }
    }
    p {
      line-height: 116px;
      color: $whiteGreen;
      font-size: $l-size;
      font-weight: 300;
    }
    .email-box {
      display: inline-flex;
      position: relative;
      background-color: $whiteGreen;
      width: 37.1%;
      height: 56px;
      margin: 30px 5% 30px 12%;
      .email-icon {
        margin: 0;
        margin: 16px 0px 16px 20px;
        width: 24px;
        height: 24px;
      }
      .email {
        position: absolute;
        background-color: $whiteGreen;
        font-size: $m-size;
        left: 60px;
        width: 60%;
        padding-right: 4%;
        height: 54px;
        border: none;
      }
      .submit-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $yellow;
        border: none;
        width: 64px;
        height: 56px;
        cursor: pointer;
        &:hover,
        :focus {
          background-color: adjust-color($yellow, $lightness: -20%);
        }
      }
      //改變點擊後框的顏色
      .email:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
      .arrow {
        position: absolute;
        top: 0;
        right: 0;
        margin: 18px 22px;
        width: 24px;
      }
    }
  }
  .information {
    display: flex;
    position: relative;
    height: 341px;
    width: 100%;
    background-color: $whiteGreen;
    .information-left {
      flex-direction: column;
      margin-left: 12.69%;
      .info-img {
        height: 27px;
        margin-top: 40px;
        margin-bottom: 115.5px;
      }
      .info-text {
        line-height: 150%;
        color: $darkGreen;
      }
      .info-icon {
        img {
          margin-top: 30px;
          width: 32px;
        }
      }
    }
    .information-right {
      position: absolute;
      right: 0;
      margin-right: 11.8%;
      flex-direction: column;
      padding-top: 30px;
      .info-slogan {
        display: inline-flex;
        background-image: url(../images/sm-今天是個吃甜點的好日子.svg);
        background-position: center;
        width: 60px;
        height: 218px;
        margin: 0px;
        margin-left: 79%;
      }
      .info-text {
        margin-top: 46px;
        line-height: 150%;
        color: $darkGreen;
        text-align: right;
      }
    }
  }
  @media screen and (max-width: 754px) {
    .subscribe {
      .email-box {
        width: 40%;
        margin: 30px 5% 30px 12%;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .subscribe {
      .email-box {
        width: 50%;
        margin: 30px 5% 30px 12%;
      }
    }
    .information {
      justify-content: center;
      flex-direction: column;
      .information-left {
        flex-direction: column;
        margin-left: 12.69%;
        .info-img {
          height: 27px;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        .info-text {
          line-height: 150%;
          color: $darkGreen;
        }
        .info-icon {
          img {
            margin-top: 30px;
            width: 32px;
          }
        }
      }
      .information-right {
        display: flex;
        position: static;
        margin-top: 20px;
        padding-top: 0;
        margin-left: 12.69%;
        .info-slogan {
          display: none;
        }
        .info-text {
          justify-content: left;
          display: inline-flex;
          margin-top: 0;
        }
      }
    }
  }
  @media screen and (max-width: 425px) {
    .subscribe {
      .email-box {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
    .information {
      .information-right {
        margin-right: 0;
      }
    }
  }
}
//首頁
@import "_index.scss";
//商品頁
@import "_product.scss";
//登入頁
@import "_login.scss";
// 購物車頁
@import "_cart.scss";
// 結帳頁
@import "_checkout1.scss";
