@import "_style.scss";

.product_banner {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-image: url(../images/toa-heftiba-470545-unsplash.jpg);
  @extend %background_cover;
  img {
    display: inline-flex;
    width: 9.4%;
    margin: 40px;
  }
  @media screen and (max-width: 769px) {
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding: 25% 0;
    background-size: 100%;
    img {
      display: inline-flex;
      width: 9.4%;
      margin-right: 40px;
    }
  }
  @media screen and (max-width: 425px) {
    img {
      display: inline-flex;
      width: 9.4%;
      margin: 40px;
    }
  }
}

#product-content {
  margin: 60px 4.1%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 425px) {
    margin: 0;
  }
  .content_top {
    display: flex;
    flex-direction: row;
    .item-list {
      display: inline-flex;
      ul {
        padding-bottom: 40px;
        li {
          width: 300px;
          font-size: nth($font, 3);
          color: $darkGreen;
          text-align: center;
          a {
            border: 1px solid $whiteGreen;
            border-top: none;
            display: inline-block;
            text-decoration: none;
            color: $darkGreen;
            font-weight: 500;
            padding: 20px 60px;
            width: 300px;
          }
          a:hover,
          a:active {
            background-color: $lightGreen;
            border: none;
          }
        }
        .check {
          background-color: $whiteGreen;
        }
        .list-title {
          border: none;
          padding: 20px 65px;
          background-color: $darkGreen;
          color: #fff;
        }
      }
    }
    .desert-item {
      ul {
        width: 100%;
        li {
          display: inline-flex;
          flex-direction: column;
          margin: 0 -4px 20px 20px;
          width: 300px;
          .product-box {
            position: relative;
            .product-box-img {
              width: 300px;
              height: 315px;
              @extend %background_cover;
            }
            .today-box {
              position: absolute;
              left: 20px;
              background-color: $darkGreen;
              color: $white;
              padding: 10px;
              writing-mode: vertical-lr;
              letter-spacing: 5px;
              font-weight: 300;
            }
            .like {
              position: absolute;
              top: 20px;
              right: 20px;
              width: 25px;
            }
          }
          .product-box-item {
            width: 300px;
            height: 56px;
            .product-box-dollar,
            .product-box-name {
              height: 56px;
              font-size: $m-size;
              float: left;
              color: $darkGreen;
              border: 1px solid $whiteGreen;
            }
            .product-box-name {
              width: 173px;
              border-right: none;
              font-weight: 300;
              padding: 15px 33px 15px 33px;
            }
            .product-box-dollar {
              width: 127px;
              font-weight: 500;
              padding: 15px 20px 15px 20px;
            }
          }
          .add-btn {
            clear: both;
            display: block;
            font-size: $l-size;
            color: $darkGreen;
            background-color: $whiteGreen;
            border: 1px solid $whiteGreen;
            border-top: none;
            font-weight: bold;
            padding: 16px 89px;
            cursor: pointer;
            @include btnFocus;
          }
        }
      }
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      .item-list {
        display: inline-flex;
        ul {
          li {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            a {
              display: inline-flex;
              justify-content: center;
              width: 100%;
            }
          }
        }
      }
      .desert-item {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          li {
            display: inline-flex;
            flex-direction: column;
            margin: 0 10px 30px 0px;
          }
        }
      }
    }
    @media screen and (max-width: 425px) {
      margin: 0;
      .item-list {
        display: flex;
        ul {
          li {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            margin-right: 0;
            a {
              display: inline-flex;
              justify-content: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .page-change {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    margin-bottom: 60px;
    margin-top: 20px;
    ul {
      display: flex;
      li {
        float: left;
        border: 1px solid $whiteGreen;
        width: 60px;
        height: 60px;
        a {
          line-height: 60px;
          font-size: $m-size;
          padding: 18px 25px;
          text-decoration: none;
          color: $darkGreen;
          font-weight: 300;
        }
        a:hover,
        a:active {
          background-color: $whiteGreen;
        }
        .back {
          span {
            display: inline-block;
            margin-right: 3px;
            border-top: 6px solid transparent;
            border-right: 6px solid $darkGreen;
            border-bottom: 6px solid transparent;
          }
        }
        .go {
          span {
            margin-right: 3px;
            display: inline-block;
            border-top: 6px solid transparent;
            border-left: 6px solid $darkGreen;
            border-bottom: 6px solid transparent;
          }
        }
      }
    }
    @media screen and (max-width: 700px) {
      justify-content: center;
    }
  }
}
