@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: PingFang TC, Helvetica Neue, Times;
  height: 100%;
}

body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  body {
    min-width: 375px;
  }
}

@media screen and (max-width: 375px) {
  header {
    position: relative;
  }
}

header .nav-bar {
  margin: 30px 42px 23px 42px;
}

@media screen and (max-width: 375px) {
  header .nav-bar {
    margin: 33px;
    margin-bottom: 10px;
  }
}

header .nav-bar .hamburger-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  display: none;
}

@media screen and (max-width: 375px) {
  header .nav-bar .hamburger-icon {
    display: inline-block;
  }
}

header .nav-bar .hamburger-icon .icon-box {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 12px;
  margin: 4px 0;
}

header .nav-bar .hamburger-icon .icon-box .icon-bar {
  width: 18px;
  height: 2px;
  background-color: #3f5d45;
  display: block;
  margin: 2px auto 0px auto;
}

header .nav-bar .logo {
  display: inline-block;
  margin-top: -10px;
}

header .nav-bar .logo a {
  background-image: url(../images/logo-all-dark.svg);
  background-repeat: no-repeat;
  width: 220px;
  height: 40px;
  display: inline-block;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  header .nav-bar .logo {
    margin: 0;
    margin-top: -5px;
  }
  header .nav-bar .logo h1 {
    margin-left: 80px;
  }
  header .nav-bar .logo h1 a {
    background-image: url(../images/logotype-sm-dark.svg);
    width: 144px;
    height: 40px;
  }
}

header .nav-bar .cart {
  float: right;
  margin-right: -40px;
}

header .nav-bar .cart a {
  padding: 40px;
  padding-top: 39px;
}

header .nav-bar .cart a .cart-icon {
  margin-top: -5px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 375px) {
  header .nav-bar .cart {
    float: none;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
  }
  header .nav-bar .cart a {
    padding: 30px;
  }
}

header .nav-bar .nav {
  float: right;
}

header .nav-bar .nav .nav-menu {
  display: inline-block;
}

header .nav-bar .nav .nav-menu li {
  float: left;
}

header .nav-bar .nav .nav-menu li a {
  text-decoration: none;
  color: #3f5d45;
  font-weight: 500;
  padding: 30px 30px;
}

header .nav-bar .nav .nav-menu li a:hover, header .nav-bar .nav .nav-menu li a:active {
  border-bottom: 5px solid #8da291;
}

@media screen and (max-width: 375px) {
  header .nav-bar .nav {
    float: none;
  }
  header .nav-bar .nav .nav-menu {
    display: none;
    text-align: center;
  }
  header .nav-bar .nav .nav-menu li {
    float: none;
  }
  header .nav-bar .nav .nav-menu li a {
    display: block;
    text-decoration: none;
    color: #3f5d45;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 40px;
  }
  header .nav-bar .nav .nav-menu li a:hover,
  header .nav-bar .nav .nav-menu li a:active {
    background-color: #eaf0ed;
  }
}

.banner {
  background-image: url(../images/toa-heftiba-470545-unsplash.jpg);
  background-size: cover;
  background-position-y: -60px;
  background-repeat: no-repeat;
  width: 91.79%;
  height: 496px;
  margin: 0 auto;
}

.banner img {
  width: 9.4%;
  float: right;
  margin: 40px;
}

@media screen and (max-width: 375px) {
  .banner {
    width: 100%;
    background-position: 100% center;
    height: 277px;
  }
  .banner img {
    width: 59px;
    margin: 30px 30px 0 0;
  }
}

.clearfix {
  clear: both;
}

#footer {
  height: 42%;
}

#footer .subscribe {
  background-color: #3f5d45;
}

#footer .subscribe img {
  float: left;
  width: 40px;
  margin: 38px 2% 38px 12%;
}

#footer .subscribe p {
  float: left;
  line-height: 116px;
  font-family: Helvetica Neue;
  color: #eaf0ed;
  font-size: 24px;
  font-weight: 300;
}

#footer .subscribe .email-box {
  display: inline-block;
  position: relative;
  background-color: #eaf0ed;
  width: 37.1%;
  height: 56px;
  margin: 30px 0 30px 12%;
}

#footer .subscribe .email-box .email-icon {
  margin: 0;
  margin: 16px 0px 16px 20px;
  width: 24px;
  height: 24px;
}

#footer .subscribe .email-box .email {
  position: absolute;
  background-color: #eaf0ed;
  font-size: 20px;
  left: 60px;
  width: 60%;
  padding-right: 4%;
  height: 54px;
  border: none;
}

#footer .subscribe .email-box .submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffe180;
  border: none;
  width: 64px;
  height: 56px;
  cursor: pointer;
}

#footer .subscribe .email-box .email:focus {
  border: none;
  -webkit-box-shadow: 0 0 1px #8da291;
          box-shadow: 0 0 1px #8da291;
  outline: none;
}

#footer .subscribe .email-box .arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 22px;
  width: 24px;
}

#footer .information {
  position: relative;
  height: 341px;
  background-color: #eaf0ed;
  white-space: nowrap;
}

#footer .information .information-left {
  float: left;
  margin-left: 130px;
}

#footer .information .information-left .info-img {
  height: 27px;
  margin-top: 40px;
  margin-bottom: 115.5px;
}

#footer .information .information-left .info-text {
  line-height: 150%;
  color: #3f5d45;
}

#footer .information .information-left .info-icon {
  margin-top: 30px;
  width: 32px;
}

#footer .information .information-right {
  position: absolute;
  right: 12%;
  padding-top: 30px;
}

#footer .information .information-right .info-slogan {
  display: inline-block;
  width: 60px;
  margin: 0px;
  margin-left: 200px;
}

#footer .information .information-right .info-text {
  margin-top: 46px;
  line-height: 150%;
  color: #3f5d45;
  font-family: Times;
  text-align: center;
}

@media screen and (max-width: 375px) {
  #footer .subscribe img {
    margin: 33px 5% 33px 13%;
  }
  #footer .subscribe .email-box {
    width: 315px;
    margin: 0px 0 30px 30px;
  }
  #footer .information {
    position: relative;
    height: 311px;
    background-color: #eaf0ed;
    white-space: nowrap;
  }
  #footer .information .information-left {
    float: left;
    margin-left: 30px;
  }
  #footer .information .information-left .info-img {
    height: 27px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #footer .information .information-right {
    position: absolute;
    bottom: 30px;
    left: -10px;
    padding-top: 0px;
  }
  #footer .information .information-right .info-slogan {
    display: none;
  }
  #footer .information .information-right .info-text {
    margin-top: 0px;
  }
}

.home-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position-y: center;
}

.banner-card ul {
  width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  bottom: -7%;
  margin-left: 9%;
}

.banner-card ul li {
  max-width: 33.3%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-card ul li .background-box {
  background: rgba(63, 93, 69, 0.8);
  display: inline-block;
}

.banner-card ul li .background-box a {
  line-height: 25px;
  text-align: center;
  display: inline-block;
  padding: 4.5vw 8.5vw;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 8px;
  font-weight: 100;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-decoration: none;
}

.banner-card ul li .background-box:hover {
  background-color: rgba(255, 225, 128, 0.8);
  cursor: pointer;
}

.banner-card ul li .background-box:hover a {
  color: #3f5d45;
  font-weight: bold;
}

.banner-card ul .today-choose::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
  background-image: url(../images/brooke-lark-230642-unsplash.jpg);
}

.banner-card ul .popular::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
  background-image: url(/images/whitney-wright-356670-unsplash.jpg);
}

.banner-card ul .new-product::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
  background-image: url(../images/food-photographer-jennifer-pallian-306919-unsplash.jpg);
}

.banner-card ul .popular {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

#content {
  margin-top: 250px;
}

#content ul {
  margin-top: 60px;
  margin-bottom: 50px;
}

#content ul li {
  margin-top: 105px;
}

#content ul li .context {
  position: relative;
  height: 420px;
  background-color: #eaf0ed;
}

#content ul li .context .text-right .image-left {
  position: absolute;
  background-repeat: no-repeat;
  top: -20px;
  width: 45%;
  height: 460px;
  background-size: cover;
  background-position: center center;
  left: 40px;
  background-image: url(../images/le-buzz-576478-unsplash.jpg);
}

#content ul li .context .text-right h2 {
  background-image: url(../images/lg-為什麼選擇了做甜點.svg);
  background-repeat: no-repeat;
  height: 307px;
  margin-right: 40px;
  position: absolute;
  top: -20px;
  right: 0px;
  width: 88px;
}

#content ul li .context .text-right p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  right: 210px;
  line-height: 200%;
  margin: 70px 0;
  color: #8da291;
  font-weight: lighter;
}

#content ul li .context .text-left .image-right {
  position: absolute;
  background-repeat: no-repeat;
  top: -20px;
  width: 45%;
  height: 460px;
  background-size: cover;
  background-position: center center;
  right: 40px;
  background-image: url(../images/monika-grabkowska-325047-unsplash.jpg);
}

#content ul li .context .text-left h2 {
  background-image: url(../images/lg-為什麼一定要吃甜點.svg);
  background-repeat: no-repeat;
  height: 307px;
  margin-right: 40px;
  position: absolute;
  top: -25px;
  left: 390px;
  width: 88px;
}

#content ul li .context .text-left p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: 55px;
  line-height: 200%;
  margin: 70px 0;
  color: #8da291;
  font-weight: lighter;
}

#content ul li .only-word {
  display: block;
  width: 90px;
  margin: 0 auto;
  margin-top: -10px;
}

#content ul li .product ul {
  margin: 30px 30px 60px 30px;
}

#content ul li .product ul li {
  float: left;
  margin: 0px 10px;
  margin-bottom: 60px;
}

#content ul li .product ul li .product-box {
  position: relative;
}

#content ul li .product ul li .product-box .product-box-img {
  width: 300px;
  height: 315px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#content ul li .product ul li .product-box .today-box {
  position: absolute;
  left: 20px;
  background-color: #3f5d45;
  color: #ffffff;
  padding: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
  font-weight: 300;
}

#content ul li .product ul li .product-box .like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
}

#content ul li .product ul li .product-box-item {
  width: 300px;
  height: 56px;
}

#content ul li .product ul li .product-box-item .product-box-dollar,
#content ul li .product ul li .product-box-item .product-box-name {
  height: 56px;
  font-size: 20px;
  float: left;
  color: #3f5d45;
  border: 1px solid #eaf0ed;
  line-height: 56px;
  text-align: center;
}

#content ul li .product ul li .product-box-item .product-box-name {
  width: 171px;
  border-right: none;
  font-weight: 300;
}

#content ul li .product ul li .product-box-item .product-box-dollar {
  width: 126px;
  font-weight: 500;
}

#content ul li .product ul li .add-btn {
  clear: both;
  display: block;
  font-size: 24px;
  color: #3f5d45;
  background-color: #eaf0ed;
  border: 1px solid #eaf0ed;
  border-top: none;
  font-weight: bold;
  padding: 16px 89px;
  cursor: pointer;
}

#product-content {
  margin: 60px 42px;
}

@media screen and (max-width: 375px) {
  #product-content {
    margin: 0;
  }
}

#product-content .item-list ul {
  float: left;
  padding-bottom: 40px;
}

#product-content .item-list ul li {
  width: 300px;
  font-size: 24px;
  color: #3f5d45;
  text-align: center;
}

#product-content .item-list ul li a {
  border: 1px solid #eaf0ed;
  border-top: none;
  display: inline-block;
  text-decoration: none;
  color: #3f5d45;
  font-weight: 500;
  padding: 20px 60px;
  width: 300px;
}

#product-content .item-list ul li a:hover,
#product-content .item-list ul li a:active {
  background-color: #8da291;
  border: none;
}

#product-content .item-list ul .check {
  background-color: #eaf0ed;
}

#product-content .item-list ul .list-title {
  border: none;
  padding: 20px 65px;
  background-color: #3f5d45;
  color: #fff;
}

@media screen and (max-width: 375px) {
  #product-content .item-list ul {
    float: none;
    padding-bottom: 0;
  }
  #product-content .item-list ul li {
    width: auto;
  }
  #product-content .item-list ul li a {
    border: none;
    border-bottom: 1px solid #eaf0ed;
    display: block;
    width: auto;
  }
  #product-content .item-list ul li a:hover,
  #product-content .item-list ul li a:active {
    background-color: #8da291;
    border: none;
  }
  #product-content .item-list ul .check {
    background-color: #eaf0ed;
  }
  #product-content .item-list ul .list-title {
    border: none;
    padding: 20px 65px;
    background-color: #3f5d45;
    color: #fff;
  }
}

#product-content .desert-item ul {
  display: inline-block;
  max-width: 640px;
}

#product-content .desert-item ul li {
  display: inline-block;
  margin: 0 -4px 20px 20px;
  width: 300px;
}

#product-content .desert-item ul li .product-box {
  position: relative;
}

#product-content .desert-item ul li .product-box .product-box-img {
  width: 300px;
  height: 315px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#product-content .desert-item ul li .product-box .today-box {
  position: absolute;
  left: 20px;
  background-color: #3f5d45;
  color: #ffffff;
  padding: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
  font-weight: 300;
}

#product-content .desert-item ul li .product-box .like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
}

#product-content .desert-item ul li .product-box-item {
  width: 300px;
  height: 56px;
}

#product-content .desert-item ul li .product-box-item .product-box-dollar,
#product-content .desert-item ul li .product-box-item .product-box-name {
  height: 56px;
  font-size: 20px;
  float: left;
  color: #3f5d45;
  border: 1px solid #eaf0ed;
}

#product-content .desert-item ul li .product-box-item .product-box-name {
  width: 173px;
  border-right: none;
  font-weight: 300;
  padding: 15px 33px 15px 33px;
}

#product-content .desert-item ul li .product-box-item .product-box-dollar {
  width: 127px;
  font-weight: 500;
  padding: 15px 20px 15px 25px;
}

#product-content .desert-item ul li .add-btn {
  clear: both;
  display: block;
  font-size: 24px;
  color: #3f5d45;
  background-color: #eaf0ed;
  border: 1px solid #eaf0ed;
  border-top: none;
  font-weight: bold;
  padding: 16px 89px;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  #product-content .desert-item ul {
    display: inline-block;
    max-width: 640px;
  }
  #product-content .desert-item ul li {
    display: inline-block;
    margin: 30px;
    margin-bottom: 0;
    width: 315px;
  }
  #product-content .desert-item ul li .product-box .product-box-img {
    width: 315px;
    height: 315px;
  }
  #product-content .desert-item ul li .product-box-item {
    width: 315px;
    height: 56px;
    text-align: center;
  }
  #product-content .desert-item ul li .product-box-item .product-box-dollar,
  #product-content .desert-item ul li .product-box-item .product-box-name {
    height: 56px;
    font-size: 20px;
    float: left;
    color: #3f5d45;
    border: 1px solid #eaf0ed;
  }
  #product-content .desert-item ul li .product-box-item .product-box-name {
    width: 183px;
    padding: 15px auto;
  }
  #product-content .desert-item ul li .product-box-item .product-box-dollar {
    width: 132px;
    padding: 15px auto;
  }
  #product-content .desert-item ul li .add-btn {
    width: 315px;
    padding: 16px auto;
  }
}

#product-content .page-change {
  height: 60px;
  margin-bottom: 60px;
  margin-top: 20px;
}

#product-content .page-change ul {
  float: right;
}

#product-content .page-change ul li {
  float: left;
  border: 1px solid #eaf0ed;
  width: 60px;
  height: 60px;
}

#product-content .page-change ul li a {
  line-height: 60px;
  font-size: 20px;
  padding: 18px 25px;
  text-decoration: none;
  color: #3f5d45;
  font-weight: 300;
}

#product-content .page-change ul li a:hover,
#product-content .page-change ul li a:active {
  background-color: #eaf0ed;
}

#product-content .page-change ul li .back span {
  display: inline-block;
  margin-right: 3px;
  border-top: 6px solid transparent;
  border-right: 6px solid #3f5d45;
  border-bottom: 6px solid transparent;
}

#product-content .page-change ul li .go span {
  margin-right: 3px;
  display: inline-block;
  border-top: 6px solid transparent;
  border-left: 6px solid #3f5d45;
  border-bottom: 6px solid transparent;
}

@media screen and (max-width: 375px) {
  #product-content .page-change {
    margin: 30px 10%;
    display: block;
  }
  #product-content .page-change ul {
    float: none;
  }
}

#login_content {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login_content > .member_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 390px;
  height: 380px;
  background-color: #3f5d45;
}

#login_content > .member_login > h2 {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 36px;
  margin: 43px 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  text-align: center;
  color: #eaf0ed;
  font-weight: 400;
}

#login_content > .member_login > .password_box,
#login_content > .member_login .account_box {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 330px;
  height: 56px;
  background-color: #eaf0ed;
}

#login_content > .member_login > .password_box > input,
#login_content > .member_login .account_box > input {
  background-color: #eaf0ed;
  outline: none;
  width: 260px;
  height: 56px;
  border: none;
}

#login_content > .member_login > .password_box > input::-webkit-input-placeholder,
#login_content > .member_login .account_box > input::-webkit-input-placeholder {
  color: #8da291;
  vertical-align: middle;
}

#login_content > .member_login > .password_box > input:-ms-input-placeholder,
#login_content > .member_login .account_box > input:-ms-input-placeholder {
  color: #8da291;
  vertical-align: middle;
}

#login_content > .member_login > .password_box > input::-ms-input-placeholder,
#login_content > .member_login .account_box > input::-ms-input-placeholder {
  color: #8da291;
  vertical-align: middle;
}

#login_content > .member_login > .password_box > input::placeholder,
#login_content > .member_login .account_box > input::placeholder {
  color: #8da291;
  vertical-align: middle;
}

#login_content > .member_login > .password_box .icon_key,
#login_content > .member_login > .password_box .icon_person,
#login_content > .member_login .account_box .icon_key,
#login_content > .member_login .account_box .icon_person {
  margin: 0 20px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #3f5d45;
}

#login_content > .member_login > .password_box .icon_person,
#login_content > .member_login .account_box .icon_person {
  -webkit-mask-image: url(../images/person.svg);
          mask-image: url(../images/person.svg);
}

#login_content > .member_login > .password_box .icon_key,
#login_content > .member_login .account_box .icon_key {
  -webkit-mask-image: url(../images/key.svg);
          mask-image: url(../images/key.svg);
}

#login_content > .member_login > .remember {
  position: relative;
  margin-left: 30px;
  margin-bottom: 25px;
}

#login_content > .member_login > .remember > #remember_btn {
  display: none;
}

#login_content > .member_login > .remember > #remember_btn + label::after {
  content: none;
}

#login_content > .member_login > .remember > #remember_btn:checked + label::after {
  content: "";
}

#login_content > .member_login > .remember > #remember_btn:checked + label::before {
  background-color: #ffe180;
  border: 1px solid #8da291;
  -webkit-box-shadow: 0 0 2px #8da291;
          box-shadow: 0 0 2px #8da291;
}

#login_content > .member_login > .remember > .checkmark {
  position: relative;
  z-index: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #eaf0ed;
}

#login_content > .member_login > .remember > .checkmark::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #3f5d45;
  top: 0px;
}

#login_content > .member_login > .remember > .checkmark::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  left: 4px;
  top: 4px;
  border-left: 2px solid #3f5d45;
  border-bottom: 2px solid #3f5d45;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#login_content > .member_login > .remember > .remember_word {
  color: #eaf0ed;
  vertical-align: middle;
  margin-left: 5px;
}

#login_content > .member_login .login_btn {
  position: relative;
  z-index: 10;
  background-color: #ffe180;
  color: #3f5d45;
  font-size: 24px;
  font-weight: bold;
  height: 65px;
}

#login_content > .member_login .login_btn:focus {
  outline: #3f5d45;
  -webkit-box-shadow: 0 0 1px #3f5d45;
          box-shadow: 0 0 1px #3f5d45;
}

#login_content .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
  height: 350px;
  margin: auto 0;
  text-align: center;
  background-color: #eaf0ed;
}

#login_content .link h3 {
  font-size: 24px;
  color: #8da291;
  font-weight: 300;
  margin: 42px auto;
}

#login_content .link .link_btn a {
  display: inline;
  background-color: #ffffff;
}

#login_content .link .link_btn input {
  width: 330px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  margin-bottom: 16px;
}

#login_content .link .link_btn input:focus {
  outline: #8da291;
  -webkit-box-shadow: 0 0 5px #3f5d45;
          box-shadow: 0 0 5px #3f5d45;
}

#login_content .link .link_btn .facebook_link {
  background-size: 35%;
  background-image: url(../images/Facebook_Logo-green.svg);
}

#login_content .link .link_btn .facebook_link:focus {
  background-image: url(../images/Facebook_Logo.svg);
}

#login_content .link .link_btn .google_link {
  background-image: url(../images/Google_green_logo.svg);
}

#login_content .link .link_btn .google_link:focus {
  background-image: url(../images/Google_2015_logo.svg);
}

#login_content .link .link_btn .yahoo_link {
  background-image: url(../images/Yahoo_green.svg);
}

#login_content .link .link_btn .yahoo_link:focus {
  background-image: url(../images/Yahoo.svg);
}

.cart_content {
  margin: 40px auto;
  max-width: 940px;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_content .my_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65.95%;
  margin-right: 20px;
}

.cart_content .my_cart > h4 {
  font-size: 24px;
  text-align: center;
  color: #3f5d45;
  background-color: #eaf0ed;
  padding: 18px 0;
  margin-bottom: 13px;
}

.cart_content .my_cart .cart_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaf0ed;
}

.cart_content .my_cart .cart_list:last-child {
  border-bottom: none;
}

.cart_content .my_cart .cart_list > .cart_list_img {
  display: inline-block;
  background-position: center center;
  background-size: cover;
  width: 110px;
  height: 110px;
  margin-right: 40px;
}

.cart_content .my_cart .cart_list > .cart_list_context {
  display: inline-block;
  color: #8da291;
}

.cart_content .my_cart .cart_list > .cart_list_context p {
  font-size: 20px;
  line-height: 200%;
}

.cart_content .my_cart .cart_list > .how_many {
  display: inline-block;
  margin-left: 40px;
}

.cart_content .my_cart .cart_list > .how_many li {
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #8da291;
  border: 1px solid #eaf0ed;
}

.cart_content .my_cart .cart_list > .how_many li > input[type="button"] {
  line-height: 46px;
  color: #8da291;
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.cart_content .my_cart .cart_list > .how_many li > input[type="button"]:focus {
  outline: #3f5d45;
  -webkit-box-shadow: 0 0 5px #3f5d45;
          box-shadow: 0 0 5px #3f5d45;
}

.cart_content .my_cart .cart_list > .price {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  color: #3f5d45;
  font-weight: 500;
}

.cart_content .my_cart .cart_list > .delete {
  margin-left: 40px;
  width: 24px;
  height: 24px;
  background-color: #8da291;
  -webkit-mask-image: url(../images/delete.svg);
          mask-image: url(../images/delete.svg);
}

.cart_content .bill {
  width: 300px;
  height: 256px;
  background-color: #3f5d45;
  color: #eaf0ed;
}

.cart_content .bill > h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin: 20px auto;
}

.cart_content .bill .line {
  border-top: 1px solid #eaf0ed;
  margin: 0 20px;
}

.cart_content .bill > ul {
  margin: 20px 18px;
}

.cart_content .bill > ul li {
  margin-bottom: 10px;
  font-weight: lighter;
}

.cart_content .bill > ul li > span {
  float: right;
  margin-right: 5px;
}

.cart_content .bill > ul .total_title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.cart_content .bill .checkout {
  width: 300px;
  height: 65px;
  background-color: #ffe180;
  color: #3f5d45;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

#checkout_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  height: 580px;
}

#checkout_content .shipping {
  width: 48.936%;
  height: 575px;
  margin-right: 20px;
  background-color: #3f5d45;
}

#checkout_content .shipping h4 {
  display: inline-block;
  font-size: 36px;
  color: #eaf0ed;
  margin: 30px 40px;
  margin-right: 0;
  font-weight: 400;
}

#checkout_content .shipping .step_mark {
  display: inline-block;
  margin-left: 25%;
  height: 22px;
  vertical-align: text-bottom;
}

#checkout_content .shipping .step_mark .step_box {
  display: inline-block;
  position: relative;
}

#checkout_content .shipping .step_mark .step_box input[type="radio"] {
  position: relative;
  z-index: 1;
  opacity: 0;
}

#checkout_content .shipping .step_mark .step_box input[type="radio"] + .step::after {
  content: none;
}

#checkout_content .shipping .step_mark .step_box input[checked] + .step::after {
  content: "";
}

#checkout_content .shipping .step_mark .step_box #step3 {
  margin-right: 40px;
}

#checkout_content .shipping .step_mark .step_box .step {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -3px;
  height: 20px;
  width: 20px;
  border: 1px solid #eaf0ed;
  border-radius: 50%;
}

#checkout_content .shipping .step_mark .step_box .step::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #eaf0ed;
  border-radius: 50%;
  top: -1px;
  left: -1px;
  opacity: 0.5;
}

#checkout_content .shipping .step_mark .step_box .step::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #eaf0ed;
}

#checkout_content .shipping .step_mark > span {
  display: inline-block;
  width: 65px;
  vertical-align: middle;
  border-top: 1px solid #eaf0ed;
  opacity: 0.5;
}

#checkout_content .shipping .personal_information {
  margin: 0 auto;
  width: 82.6%;
}

#checkout_content .shipping .personal_information label {
  width: 100%;
  color: #eaf0ed;
  font-size: 20px;
  margin-bottom: 10px;
}

#checkout_content .shipping .personal_information input,
#checkout_content .shipping .personal_information select {
  width: 100%;
  height: 56px;
  color: #8da291;
  background-color: #eaf0ed;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

#checkout_content .shipping .personal_information input::-webkit-input-placeholder,
#checkout_content .shipping .personal_information select::-webkit-input-placeholder {
  color: #8da291;
  font-weight: 300;
}

#checkout_content .shipping .personal_information input:-ms-input-placeholder,
#checkout_content .shipping .personal_information select:-ms-input-placeholder {
  color: #8da291;
  font-weight: 300;
}

#checkout_content .shipping .personal_information input::-ms-input-placeholder,
#checkout_content .shipping .personal_information select::-ms-input-placeholder {
  color: #8da291;
  font-weight: 300;
}

#checkout_content .shipping .personal_information input::placeholder,
#checkout_content .shipping .personal_information select::placeholder {
  color: #8da291;
  font-weight: 300;
}

#checkout_content .shipping .personal_information .name label {
  display: inline-block;
  width: 186px;
  margin-bottom: 10px;
}

#checkout_content .shipping .personal_information .name input {
  width: 186px;
}

#checkout_content .shipping .personal_information .name #firstName {
  margin-right: 3px;
}

#checkout_content .shipping .personal_information .full_address select {
  width: 180px;
  margin-bottom: 10px;
  margin-right: 3px;
}

#checkout_content .shipping .next {
  width: 100%;
  height: 65px;
  background-color: #ffe180;
  color: #3f5d45;
  font-size: 24px;
  font-weight: 600;
}

#checkout_content .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#checkout_content .order .order_list,
#checkout_content .order .checkout_bill {
  background-color: #fff;
  border: 1px solid #eaf0ed;
  display: inline-block;
  height: 195px;
}

#checkout_content .order .order_list h4,
#checkout_content .order .checkout_bill h4 {
  background-color: #eaf0ed;
  color: #8da291;
  font-weight: 400;
  margin: 0 auto;
  padding: 16px 0;
}

#checkout_content .order .order_list li,
#checkout_content .order .checkout_bill li {
  color: #8da291;
}

#checkout_content .order .order_list {
  height: 370px;
  margin-top: 20px;
}
/*# sourceMappingURL=all.css.map */